<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laurent_julien_nano_degree_project.my_joke_android_lib">

    <application>
        <activity android:name=".JokeAndroidActivityLibrary">
        </activity>
    </application>

</manifest>